
  @import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto&display=swap');
  .recipe-grid {
    display: grid;
    grid-template-rows: repeat(3) 1fr ;
}
#all-recipes{
    display: grid;
    grid-template-columns: repeat(4) 1fr;
    justify-content: space-evenly;

}
#whole-grid1 {
    grid-column: 1;
}
#whole-grid2 {
    grid-column: 2;
}
#whole-grid3 {
    grid-column: 3;
}
#whole-grid4 {
    grid-column: 4;
}
#whole-grid5 {
    grid-column: 5;
}
.item1{
    grid-row: 1;
}
.item2{
    grid-row: 2;
}
.item3{
    grid-row: 3;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: lightblue;
    width: 100%;
    height: 39px;
    text-align: center;

}
main {
    margin-bottom: 16px;
    font-family: handlee;
    margin-top: 40px;
    margin-bottom: 40px;
}
a:hover {
    color: green;
}
a {
    outline: none;
    text-decoration: none;
}
.nav {
    background-color: cyan;
    position: static;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 30px;
    font-family: handlee;
}

h1, h2 {
    text-align: center;
    text-decoration:underline;
    text-shadow: 1px 2px 1px gray;
}
img {
    box-shadow: 4px 6px 4px gray;
    justify-content: center;
}
body {
    background-image: url(white-wooden-floor.jpg);
    background-size: cover;
    margin: 0%;

}
.stars {
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: lightgray;
}
table {
display: grid;
justify-content: center;
}
ol {
    display: grid;
    justify-content: center;
}
.divgrid {
    display: grid;
    justify-content: center;
}
